@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratbold';
    src: url('fonts/montserratbold-dowzd-webfont.woff2') format('woff2'),
         url('fonts/montserratbold-dowzd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --white: rgb(255, 255, 255);
    --offwhite: rgb(247, 247, 247);
}

html,
body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
}

.left {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("img/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 3 1 60%;
    background-color: var(--white);
}

.logo_area {
    font-family: 'norsebold', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    margin-top: 150px;
    background-color: rgba(0,0,0,0.5)
}

img.logo {
    width: 75px;
}

.left .credit {
    font-size: 0.7em;
}

.intro {
    background-color: var(--offwhite);
    flex-grow: 2;
    font-weight: bold;
    font-size: 18px;
    padding: 4em 10em 1em 2em;
}

.main {
    flex-grow: 1;
    padding: 0em 10em 1em 2em;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    margin-bottom: 2px;
}

.main  {
    font-size: 18px;
    font-weight: bold;
}

.main .form-row {
    display: flex;
    justify-content: space-between;
}

.main .labels {
    flex: 1;
    margin: 5px 25px 5px 0px;
    color: rgb(101, 101, 101);
}

.main .labels label {
    font-family: 'montserratbold', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}

.main .labels input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #E5E7EB;
    outline: none;
    border-radius: 4px; 
    padding: 4px;
    font-family: sans-serif;
}

.main .labels input:focus {
    border: 1px solid rgb(43, 43, 255);
    box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.5);
}

.main .labels input[type="password"]:invalid:focus {
    border: 1px solid rgb(148, 0, 0);
}

.main #message {
    color: red;
    font-size: 6px;
}


.bottom {
    background-color: var(--offwhite);
    flex-grow: 2;
    padding: 1em 10em 1em 2em;
    font-size: 18px;
}

.bottom button {
    font-family: 'montserratbold', sans-serif;
    font-size: 16px;
    background-color: #596D48;
    padding: 10px 50px;
    border-radius: 5px;
    border: 0px;
    color: var(--white);
    font-weight: bold;
}

.bottom button:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 1);
    cursor: pointer;
    background-color: #556745;
}

.bottom p {
    font-size: 12px;
}

.bottom a:link {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.bottom a:hover {
    color: rgb(101, 101, 101);
    font-weight: bold;
    text-decoration: none;
}